*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smooth: always;
    scroll-behavior: smooth;
    min-height: 100%;
}

head {
    display: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1B1B1B;
    color: #F5D67B;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 100%;
    padding-top: 50.35%;
    border: 5px #F5D67B solid;
    margin: 30px auto;
}

#iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#title {
    font-size: 25px;
    position: relative;
    left: 5%;
    width: 50%;
    margin: 10px 0px;
}

.glowing-btn {
    position: relative;
    left: 5%;
    margin: 25px 0px;
}

#input {
    background-image: url('/assets/icon/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 75%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    display: block;
    margin: 20px auto;
}

#table {
    border-collapse: collapse;
    width: 75%;
    border: 2px solid #ddd;
    font-size: 18px;
    margin: 20px auto;
}

#table th, #table td {
    text-align: left;
    padding: 12px;
}

#table tr {
    border-bottom: 1px solid #ddd;
}

#table tr.header, #table tr:hover {
    background-color: #333333;
}



.btn {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:not(:disabled):hover,
.btn-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.btn:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
